@font-face {
    font-family: 'Capsuula';
    src: url('fonts/capsuula/Capsuula.ttf') format('truetype');
}

body {
    font-family: 'Boogaloo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffecd9;
    color: black;
    text-align: center;
    overflow-x: hidden;
    animation: fadeIn 1s ease-in-out;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b9c384;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 0 40px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ce8758;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 140px 40px 40px;
    gap: 40px;
}

.hero-image {
    max-width: 600px;
    height: auto;
}

.text-content {
    max-width: 600px;
    text-align: left;
}

.hero h1 {
    font-size: 46px;
    font-weight: bold;
}

.hero p {
    font-size: 28px;
    line-height: 1.6;
    margin-top: 10px;
}

.read-more-btn {
    font-family: 'Capsuula', sans-serif;
    display: inline-block;
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #4f6f5b;
    color: #ffecd9;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.read-more-btn:hover {
    background-color: #ce8758;
    transform: scale(1.05);
}

.separator {
    width: 40%;
    height: 3px;
    background: #4f6f5b;
    margin: 40px auto;
    border-radius: 20px;
    margin-bottom: 0px;
}

.team-section {
    text-align: center;
    font-size: 38px;
}

.team-section img {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding: 0px;
}

.blocks {
    padding: 60px 40px;
    margin-top: 0px;
    opacity: 1;
    background: url("img/color_blocks.png") center/cover no-repeat;
  }

footer {
    background: #b9c384;
    color: black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 