@font-face {
    font-family: 'Capsuula';
    src: url('fonts/capsuula/Capsuula.ttf') format('truetype');
}

body {
    font-family: 'Boogaloo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffecd9;
    color: black;
    text-align: center;
    overflow-x: hidden;
    animation: fadeIn 1s ease-in-out;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b9c384;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 0 40px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ce8758;
}

.project-content {
    padding: 120px 40px 60px 40px;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.project-card {
    background: #778c6a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px black;
}

.project-info {
    flex: 1;
}

.project-card h2 {
    font-size: 24px;
    color: #b9c384;
    margin: 0;
}

.project-card a {
    color: #ffecd9;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.project-card a:hover {
    color: #ffecd9;
}

.project-details {
    font-family: 'Capsuula', sans-serif;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    color: #ffecd9
}

.project-details img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.project-details p {
  font-size: 18px;
  margin-bottom: 16px;
}

.project-details ul {
  margin: 16px 0;
  padding-left: 24px;
}

.project-details li {
  font-size: 18px;
  margin-bottom: 8px;
}

.project-details a {
  color: #b15424;
  text-decoration: none;
}

.project-details a:hover {
  text-decoration: underline;
}

.project-details strong {
  color: #ce8758;
}

.separator {
    width: 60%;
    height: 2px;
    background-color: #c9a227;
    margin: 40px auto;
}

.blocks {
    padding: 60px 40px;
    margin-top: 0px;
    opacity: 1;
    background: url("img/color_blocks.png") center/cover no-repeat;
}

footer {
    background: #b9c384;
    color: black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}  